.app {
}

.app__header {
  background-color: white;
  border-bottom-width: 1px;
  height: 64px;
  position: sticky;
  top: 0;
}

.app__main {
  border-left-width: 1px;
  border-right-width: 1px;
  min-height: calc(100vh - 128px);
}

.app__login-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
}

.app__footer {
  border-top-width: 1px;
  height: 64px;
}
