.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.App-header {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100vh;
  width: 275px;
}

.App-header-wrapper {
  height: 100%;
  padding: 0 10px;
  position: fixed;
  top: 5px;
  width: 255px;
}

.App-main {
  display: flex;
  flex: 1 1 auto;
  width: 990px;
}

.App-main-content {
  border-color: rgb(230, 236, 240);
  border-left-width: 1px;
  border-top-width: 0;
  border-right-width: 1px;
  border-bottom-width: 0;
  border-style: solid;
  max-width: 600px;
  width: 100%;
}

.App-main-aside {
  width: 350px;
}
