.layout__header {
  background-color: white;
  border-bottom-width: 1px;
  height: 64px;
  position: sticky;
  top: 0;
}

.layout__container {
  margin: 0 auto;
  max-width: 660px;
}

.layout__main {
  border-left-width: 1px;
  border-right-width: 1px;
  min-height: calc(100vh - 128px);
}

.layout__title {
  align-items: center;
  display: flex;
  border-bottom-width: 1px;
  height: 52px;
  padding: 0 15px;
}

.layout__footer {
  align-items: center;
  border-top-width: 1px;
  display: flex;
  padding: 0 15px;
  height: 64px;
}
