.like-button {
  align-items: center;
  color: rgb(101, 119, 134);
  display: inline-flex;
}

.like-button__icon {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  display: inline-flex;
  height: 34px;
  justify-content: center;
  width: 34px;
}

.like-button,
.like-button__icon {
  transition: all 0.2s;
}

.like-button__icon .like-icon {
  fill: currentColor;
}

.like-button_liked,
.like-button:hover {
  color: rgb(224, 36, 94);
}

.like-button:hover .like-button__icon {
  background: rgb(224, 36, 94, 0.1);
}

.like-button__label {
  font-size: 14px;
  min-width: calc(1em + 20px);
  padding: 0 2px;
}
